.cd-top {
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  position: fixed;
  right: 30px;
  bottom: 50px;
  opacity: 0;
  display: inline-block;
  visibility: hidden;
  line-height: 50px;
  text-align: center;
  z-index: 999;
  border-radius: 50%;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}

.cd-top:hover {
  opacity: 1;
}
